@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  background-color: #f9f5ef;
}
.wrapper {
  margin: 7vw 0;
  border-radius: 9px;
}
.container {
  flex-wrap: wrap;
  background-color: black;
  width: 70%;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  box-shadow: 20px 40px 40px rgb(10, 10, 10);
}
.box1 {
  width: 45%;
  border-radius: 7px;
  background-color: #ae9245;
  padding: 2vw 3vw;
}
.box2 {
  width: 50%;
}
.box2 img {
  width: 90%;
  height: 460px;
  border-radius: 4px;
  object-fit: cover;
}
.info div {
  margin: 810x 0 0 0;
}
.box1 h1 {
  font-size: 2.3rem;
}


.info h5 {
  color: #ae9245;;
  font-size: 1.1rem;
}
.info p {
  font-size: 0.87rem;
}
#paraa{
  color: rgb(84, 64, 47);
}
#para {
  color: rgb(161, 137, 117);
  font-size: 0.87rem;
  padding: 10px 0 0 0px;
  line-height: 19px;
}

.about {
  margin-top: 40px;
  font-weight: normal;
  font-size: 0.86rem;
}
.education_main {
  display: flex;
  justify-content: space-between;

}
.education {
  margin-top: 30px;
}
.education h4,
.experience h4 {
  color: #ae9245;;
  font-size: 1.2rem;
}
.box1 .sign {
  width: 80%;
  height: 70px;
  padding-top: 15px;
  size: 40px;
  
  font-weight: bolder;
}

.icons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
}
#icons_manage {
  display: inline-block;
  padding-right: 20px;
}
.icons h3 {
  font-size: 0.71rem;
  margin-left: 10px;
  
}

.icons i {
  font-size: 1.4rem;
  border-radius: 50%;
  background-color: rgb(242, 235, 214);
  padding: 5px;
}

.experience {
  margin-top: 70px;
}
.experience_main h3 {
  font-size: 1rem;
  color: #ebe7e5;
}
#exp-1 {
  margin-top: 20px;
}
#exp-2 {
  margin-top: 30px;
}
#h3{
  font-size:small;
}
.edu-info{
  padding: 3px;
}

.education .education_main .edu-info {
  border-left: 2px solid #6e6e6e;
  margin-top: 20px;
  padding-left: 13px;

}
#round {
  border: 1px solid #ae9245;;
  padding: 6px;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background-color: #ae9245;;
  margin-left: -21px;

}

#round2 {
  border: 1px solid #ae9245;;
  padding: 6px;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background-color: #ae9245;;
  margin-left: -28px;
}
.experience .experience_main {
  display: grid;
  grid-template-rows: auto auto;
}

.experience .experience_main #exp-1,
#exp-2 {
  border-left: 2px solid #6e6e6e;
  padding-left: 20px;
}
/* skills */
.skills-contain {
  margin-top: 80px;
}

#skills-btn {
  margin-top: 40px;
  padding: 5px 20px 5px 20px;
  width: 40%;
  background-color: #ae9245;
  color: white;
  cursor: pointer;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  transition: 0.3s ease-in;
}
#skills-btn:hover {
  background-color: #66686d;
}
#skill-heading {
  margin-bottom: 20px;
}
/* heading */
.head {
  background-color: rgb(50, 51, 53);
  width: 80%;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  text-align: center;
  margin-top: 20px;
  padding: 4px 6px;
  box-shadow: 10px 10px 10px 0px rgb(0, 0, 0);
}

.skills-setup {
  width: 100%;
  background-color: white;
}

#hide-img {
  display:block;
}

#hide-img2 {
  display: none;
  object-fit: cover;
}

@media (max-width: 760px) {
  .container {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    background-color: black;
    width: 70%;
    color: white;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    padding: 20px;
    border-radius: 3px;
    margin: auto;
    box-shadow: 20px 40px 40px rgb(20, 18, 18);
  }
  .box1 {
    width: 100%;
  }

  .box2 {
    width: 100%;
  }
  #hide-img {
    display: none;
  }
  #hide-img2 {
    display: block;
    width: 100%;
    margin: auto;
    height: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 470px) {
  .container {
    border-radius: 6px;
    width: 93%;
    box-shadow: 20px 40px 40px 3px rgb(20, 18, 18);
  }

  #skills-btn {
    font-size: 1rem;
    padding: 6px 25px 6px 25px;
    width: 80%;
  }
  .head {
    width: 100%;
    border-radius: 6px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .box1 .sign {
    height: 160px;
    width: 90%;
    margin-bottom: 0;
  }
  .education {
    margin-top: 50px;
  }
  .box1 h1 {
    font-size: 1.8rem;
  }
  .education_main{
    flex-wrap: wrap;
  }
}
